main {
    height: 100vh;
    background: linear-gradient(90deg, #e6dace 50%, #ffffff 50%);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text_section {
    margin-left: 0;
    padding-left: 5vw;
    margin-right: 15vw;
    width: 25vw;
}

.description {
    width: 100%;
    height: auto;
}